header nav {
  animation: navAppear 1s ease;
}

@keyframes navAppear {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#intro::after {
  animation: introBlur 2s ease;
}

@keyframes introBlur {
  0% {
    backdrop-filter: blur(10px) brightness(50%);
    -webkit-backdrop-filter: blur(10px) brightness(80%);
  }

  100% {
    backdrop-filter: blur(5px) brightness(90%);
    -webkit-backdrop-filter: blur(5px) brightness(90%);
  }
}

#intro article h1 {
  animation: introH1 1s ease;
}

@keyframes introH1 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow {
  border: 3px solid var(--BGCOLOR);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  animation: arrow 1s ease;
}

@keyframes arrow {
  from {
    width: 65px;
    height: 65px;
  }

  to {
    width: 50px;
    height: 50px;
  }
}

#introduction figure .image-container {
  position: relative;
}

#introduction figure img {
  animation: imageAppearItself 2s ease;
}

@keyframes imageAppearItself {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#introduction figure figcaption ul li a:any-link {
  animation: navEl 1s ease 0.2s;
  letter-spacing: 0px;
}

@keyframes navEl {
  0% {
    letter-spacing: 0px;
  }

  50% {
    letter-spacing: 5px;
  }

  100% {
    letter-spacing: 0px;
  }
}
